params {
    fastqc_bin   = "/home/patel/miniconda/envs/pipeline/bin/fastqc"
    cutadapt_bin = "/home/patel/miniconda/envs/pipeline/bin/cutadapt"
    bwa_bin      = "/home/patel/miniconda/envs/pipeline/bin/bwa"
    samtools_bin = "/home/patel/miniconda/envs/pipeline/bin/samtools"
    fastq_dir    = "data"
    output       = "results"
}
process {
    executor = 'local'
}
